.App {
  text-align: center;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container__left {
  background-color: #a9fba3;
  width: 40%;
  min-width: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.frame-wrapper__video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.frame-wrapper__video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.resizer {
  background-color: #48bf92;
  cursor: col-resize;
  height: 100%;
  width: 4px;
}

.container__right {
  background-color: #ffffff;
  flex: 1 1 0%;
  align-items: center;
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
